body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.main {
  position: relative;
  overflow: hidden;
  background-color: blue;
  width: 1000px;
  height: 680px;
  border: solid 2px black;
  float: left;
}

.outer {
  background-color: #eee;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.inner {
  background-color: #ccc;
  position: absolute;
  width: 500px;
  height: 300px;
  border: solid #D32F2F 2px;
  z-index: 100;
}

.main[data-position="top-right"] .inner {
  top: 20px;
  right: 20px;
}

.main[data-position="top-left"] .inner {
  top: 20px;
  left: 20px;
}

.main[data-position="bottom-right"] .inner {
  bottom: 20px;
  right: 20px;
}

.main[data-position="bottom-left"] .inner {
  bottom: 20px;
  left: 20px;
}

.main[data-position="top-right"] .attribution,
.main[data-position="top-left"] .attribution {
  bottom: 0;
  right: 0;
}

.main[data-position="bottom-left"] .attribution,
.main[data-position="bottom-right"] .attribution {
  top: 0;
  right: 0;
}

.toolbox {
  padding: 8px;
  float: left;
}

.btn {
  padding: 2px 6px;
  background-color: #D32F2F;
  border: solid 1px #D32F2F;
  border-radius: 2px;
  color: black;
  display: inline-block;
}

a.btn {
  color: white;
}

.marker {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
}

svg {
  pointer-events: none;
  position: absolute;
  z-index: 99;
}

.line {
  stroke-width: 3px;
  stroke: #D32F2F;
  opacity: 0.3;
}

.line[hide="true"] {
  display: none;
}

.position {
  background-color: #eee;
  border-color: #333 solid 1px;
  position: relative;
  overflow: hidden;
}

.position__padder {
  padding-top: 68%;
}

.position__marker {
  display: block;
  border: solid 1px red;
  width: 40%;
  position: absolute;
}

.position__marker-padder {
  padding-top: 68%;
}

.position__marker[data-position="top-left"] {
  top: 4px;
  left: 4px;
}

.position__marker[data-position="top-right"] {
  top: 4px;
  right: 4px;
}

.position__marker[data-position="bottom-left"] {
  bottom: 4px;
  left: 4px;
}

.position__marker[data-position="bottom-right"] {
  bottom: 4px;
  right: 4px;
}

.geocode.working {
  background-color: yellow;
}

.attribution {
  position: absolute;
  background-color: white;
  padding: 4px 8px;
}

a {
  color: inherit;
}

.container {
  display: flex;
}

.main {
  flex: 0 0 1000px;
}

.toolbox h1:first-child {
  margin-top: 0;
}

.hide {
  display: none;
}
